@tailwind base;
@tailwind components;

html,
body{
    font-family: 'Poppins',sans-serif;
}

@tailwind utilities;

.gradient-text{
    background: -webkit-linear-gradient(left,#273C7F,#2374B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



