@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* max-width: 1440px; */
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gradient-text {
  background: -webkit-linear-gradient(left, #273c7f, #2374b1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordian {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease !important; /* Set the transition duration and easing */
}

.accordion-content.open {
  max-height: 500px !important; /* Adjust the max-height value to accommodate your content */
  transition: max-height 0.3s ease !important; /* Set the transition duration and easing */
}
.testimonial-card {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

/*  / / / // /  swipper custom style / / / / / / / / /*/
.swiper-slide {
  display: flex;
  justify-content: center;
}

/* contact form */
.contact-form {
  box-shadow: 0 0 50px 2px #012781;
}

/*  / / / / services drop down / / / //  */
.services-drop-down {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

/* about procedure card custom style */
.procedure-cards {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

/* scroll image */

.scroll-img {
  animation: scroll-image 0.8s ease-in infinite alternate-reverse;

}

.scroll-img-2 {
  animation: scroll-image-2 0.5s ease-in infinite alternate-reverse;
}

.scroll-text {
  font-family: "Orbitron", sans-serif;
}
@keyframes scroll-image {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-7.5px);
  }
}

@keyframes scroll-image-2 {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
.mySwiper {
  height: 600px !important;
  width: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

/* particale js custom style */

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.link-ani {
  transform: translateX(300px);
  opacity: 0;
  animation: linkAnimation 0.25s ease-in 0.4s forwards;
}

.link-ani-servce {
  transform: translateX(300px);
  opacity: 0;
  animation: linkAnimation 0.25s ease-in 0.5s forwards;
}

.link-ani-protfolio {
  transform: translateX(300px);
  opacity: 0;
  animation: linkAnimation 0.25s ease-in 0.6s forwards;
}

.link-ani-tech {
  transform: translateX(300px);
  opacity: 0;
  animation: linkAnimation 0.25s ease-in 0.7s forwards;
}

.link-ani-industry {
  transform: translateX(300px);
  opacity: 0;
  animation: linkAnimation 0.25s ease-in 0.8s forwards;
}
@keyframes linkAnimation {
  0% {
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes scroll-image {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-7.5px);
  }
}

@keyframes scroll-image-2 {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/*  / / / / hero text custom media / / / //  */

@media only screen and (max-width: 628px) {
  .hero-heading {
    margin-top: 5rem;
  }
  .getIntouch-email {
    width: 290px !important;
  }
}

@media only screen and (max-width: 400px) {
  .hero-heading {
    margin-top: 3rem;
  }
  .getIntouch-email {
    width: 180px !important;
  }
}

@media only screen and (max-width: 380px) {
  .hero-text {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 380px) {
  .hero-text {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 350px) {
  .hero-text {
    margin-top: 20px;
  }
}
/* overlay nav on mobile screen */
.overlayNav {
  clip-path: circle(0% at 100% -5%);
  width: 100%;
  background: linear-gradient(to bottom, #002680, #001647);
  opacity: 0.97;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 1s;
}
.overlayNav.open {
  width: 100%;
  clip-path: circle(100% at 100% 20%);
}

.overlayNav a {
  color: white !important;
}

.overlayNav-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}
.overlayNav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #161822;
  display: block;
  transition: 0.3s;
}
.overlayNav a:hover,
.overlayNav a:focus {
  color: #161822;
}
.overlayNav .closebtn {
  position: absolute;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlayNav a {
    font-size: 20px;
  }
  .overlayNav .closebtn {
    font-size: 40px;
    right: 35px;
  }
}

/* Nav button pulse behavior */
.pulse {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 #273C7F(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
.pulse > span {
  display: block;
  margin: 5px 9px;
  color: White;
  font-family: Roboto, sans;
}
.pulse:hover {
  animation: none;
}

.pulseWhite {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 #fafafb(204, 169, 44, 0.4);
  animation: pulseWhite 2s infinite;
}
.pulseWhite > span {
  display: block;
  margin: 5px 9px;
  color: White;
  font-family: Roboto, sans;
}
.pulseWhite:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #273C7F(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #394c8d(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(18, 25, 37, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@-webkit-keyframes pulseWhite {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fefefe(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
  }
}

@keyframes pulseWhite {
  0% {
    -moz-box-shadow: 0 0 0 0 #fefefe(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
    box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
  }
  100% {
    -moz-box-shadow: 00 0 0 0 rgba(80, 80, 81, 0.4);
    box-shadow: 0 0 0 0 rgba(80, 80, 81, 0.4);
  }
}

.rec-arrow-down:hover,
.rec-arrow-up:hover {
  background-color: #012781 !important;
}
.rec-arrow {
  top: 10px !important;
  height: 50px !important;
  width: 30px !important;
}
.fcRlZe {
  color: white !important;
  background-color: #012781 !important;
  font-size: 0.8em !important;
  height: 30px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important ;
  align-items: center !important;
  min-width: 10px !important;
  border: 1px solid 012781 !important;
  margin-right: 20px;
  margin-left: 20px;
}
.cIuHOQ {
  font-size: 0.8em !important;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important ;
  align-items: center !important;
  min-width: 10px !important;
}
/*footer scroll bar */
.ant-row {
  margin: 0 !important;
}
.PhoneInputInput {
  outline: none !important;
  background-color: white !important;
}

input[type="checkbox"]:checked {
  background-color: green;
}

.card-container {
  /* perspective: 1000px; */
  width: 500px;
  height: 400px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}
