@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0  ;
}
html,
body {
 
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* max-width: 1440px; */
  
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gradient-text {
  background: -webkit-linear-gradient(left, #273c7f, #2374b1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .main-Heading {
  line-height: 3.5rem !important;
} */

.accordian {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease !important; /* Set the transition duration and easing */
}

.accordion-content.open {
  max-height: 500px !important; /* Adjust the max-height value to accommodate your content */
  transition: max-height 0.3s ease !important; /* Set the transition duration and easing */
}
.testimonial-card {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

/*  / / / // /  swipper custom style / / / / / / / / /*/
.swiper-slide {
  display: flex;
  justify-content: center;
}

/* contact form */
.contact-form {
  box-shadow: 0 0 50px 2px #012781;
}

/*  / / / / services drop down / / / //  */
.services-drop-down {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

/* about procedure card custom style */
.procedure-cards {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgb(223, 222, 222);
}
/* / / / / // testimonial card slider pagination custom style / / / / / / / */

/* .swiper-pagination-bullet {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: start;
  justify-content: space-around;
  z-index: 10;
  opacity: 1;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 4px;
  border: #012781 1px solid;
  border-spacing: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #161822;
}

.swiper-pagination {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

.swiper-pagination::after {
  content: "";
  position: absolute;
  top: 0;
  left: 7.5px;
  background: #8b8c8c;
  height: 100%;
  width: 2.5px;
  z-index: -100;
} */
/*  / / / / hero text custom media / / / //  */

@media only screen and (max-width: 628px) {
  .hero-heading {
    margin-top: 5rem;
  }
  .getIntouch-email {
    width: 290px !important;
  }
}

@media only screen and (max-width: 400px) {
  .hero-heading {
    margin-top: 3rem;
  }
  .getIntouch-email {
    width: 180px !important;
  }
}

@media only screen and (max-width: 380px) {
  .hero-text {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 380px) {
  .hero-text {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 350px) {
  .hero-text {
    margin-top: 20px;
  }
}
.overlayNav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlayNav.open {
  width: 100%;
}
.overlayNav-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}
.overlayNav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #161822;
  display: block;
  transition: 0.3s;
}
.overlayNav a:hover,
.overlayNav a:focus {
  color: #161822;
}
.overlayNav .closebtn {
  position: absolute;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlayNav a {
    font-size: 20px;
  }
  .overlayNav .closebtn {
    font-size: 40px;
    right: 35px;
  }
}

.pulse {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 #273C7F(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
.pulse > span {
  display: block;
  margin: 5px 9px;
  color: White;
  font-family: Roboto, sans;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #273C7F(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #394c8d(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(18, 25, 37, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.rec-arrow-down:hover,
.rec-arrow-up:hover {
  background-color: #012781 !important;
}
.rec-arrow {
  top: 10px !important;
  height: 50px !important;
  width: 30px !important;
}
.fcRlZe {
  color: white !important;
  background-color: #012781 !important;
  font-size: 0.8em !important;
  height: 30px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important ;
  align-items: center !important;
  min-width: 10px !important;
  border: 1px solid 012781 !important;
  margin-right: 20px;
  margin-left: 20px;
}
.cIuHOQ {
  font-size: 0.8em !important;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important ;
  align-items: center !important;
  min-width: 10px !important;
}
.ant-row {
  margin: 0 !important;
}
.PhoneInputInput{
  outline: none !important;
  background-color: white !important;
  
}
.PhoneInput-color--focus{background-color:black!important;}
#phoneNumberInput:-moz-placeholder {
  background-color: white !important; /* Set the background color you want */
  color: black; /* Set the text color you want */
}
input:-webkit-autofill {
  /* Set the autofill background color and text color */
  background-color: white!important;
  color: black;
}

/* Customize autofill styles for Firefox */
input:-moz-placeholder {
  /* Set the autofill background color and text color */
  background-color: white!important;
  color: black;
}
input[type="checkbox"]:checked {
  background-color: green;
}